<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Административное меню</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <h1>Управление меню</h1>
    <a href="/admin/menu/new">Добавить новый продукт</a>
    <ul>
        <% products.forEach(product => { %>
            <li>
                <%= product.name %> - <%= product.price %>
                <a href="/admin/products/edit/<%= product._id %>" class="btn btn-primary">Редактировать</a>
                <form action="/admin/menu/delete/<%= product._id %>" method="POST">
                    <button type="submit">Удалить</button>
                </form>
            </li>
        <% }); %>
    </ul>
</body>
</html>
