<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Корзина</title>
</head>
<body>
    <h1>Содержимое корзины</h1>
    <ul>
        <% cartItems.forEach(item => { %>
            <li><%= item.name %> - <%= item.price %> тг.</li>
        <% }); %>
    </ul>
    <p>Итого: <%= cartTotal %> тг.</p>
</body>
</html>
